server:
  port: 8081

spring:
  cloud:
    compatibility-verifier:
      enabled: false
  application:
    name: internship-service
  datasource:
    url: jdbc:mysql://localhost:3306/internship
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka



